html {
  background-color: #eee;
}

.heading {
  text-align: center;
  color: #444;
}

.sizeSlider {
  padding: 8px;
}

.sizeSlider p {
  font-weight: 600;
  color:#444;
}

.buttons {
  text-align: center;
  padding: 1em;
  margin-right: auto;
}

.buttons .button {
  border-radius: 35%;
}

.buttons .button:hover {
  background-color: #108;
}

.container {
  background-color: white;
  display: grid;
  width: 66%;
  height: 75%;
  border: 5px solid #444;
  margin: auto;
}

.pixel {
  display: flex;
}
